/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: 240px 240px 240px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #D4D4D4;
  color: #444;
  border-radius: 5px;
  padding: 20px;
}

button {
  font-size: smaller;
}
